!! Mirko van der Waal
!! <mvdw at airmail dot cc>
!! Are actual comments.
!  Are alternatively commented options.

!! Pretty nice and wide, Good for clearer reading. 
!! NOTE: Yet to build this one!
!URxvt.font: xft:ProggyCleanTT:size=12
!! My default font.
URxvt.boldFont:xft:GohuFont:size=9
URxvt.font:xft:GohuFont:size=9

URxvt.background: #1C1C1C
URxvt.foreground: 15
	
!BLACK
URxvt.color0:   #14101C
URxvt.color8:   #4B464F
!RED
URxvt.color1:   #AD6A72
URxvt.color9:   #D99395
!GREEN
URxvt.color2:   #A2B07F
URxvt.color10:  #C4D1A1
!YELLOW
URxvt.color3:   #B39976
URxvt.color11:  #D1C894
!BLUE
URxvt.color4:   #829BA8
URxvt.color12:  #9BB6D4
!MAGENTA
URxvt.color5:   #AD748E
URxvt.color13:  #DB9CBE
!CYAN
URxvt.color6:   #7D9B90
URxvt.color14:  #A4C1B7
!WHITE
URxvt.color7:   #AAA5AD
URxvt.color15:  #D6CCDC

Xft.hintstyle:hintslight                                                        
Xft.lcdfilter:lcddefault                                                        
URxvt.letterSpace:1.2
Xft.antialias:1                                                                 
Xft.hinting:1                                                                   
Xft.rgba:rgb                                                                    
Xft.dpi:96                                                                      

!! Enabling clickable links:
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

!! URxvt scrolling options and cursor style:
URxvt*saveLines:            12000
URxvt*scrollstyle:          plain
URxvt*scrollBar:            false
URxvt*cursorBlink:          true
URxvt*cursorUnderline:      false

