/* Author: Mvdw
 * Email: <mvdw at airmail dot cc> 
 */

/* "Since it's a foregone conclusion that Microsoft will be littering its XML
with pointers to Win32-based components, the best that can be said about
its adoption of XML is that it will make it easier for browsers and
applications on non-Windows platforms to understand which parts of the
document it must ignore."
        -- Nicholas Petreley, "Computerworld", 3 September, 2001
*/

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root
{   /* Define the root variables, these are used to easily modify the CSS. */
    /* Browser */
    --scrollbar: -14px !important;     /* Defining 0px will show the scrollbar
                                          -14px usually works to hide it, You may have
                                          to manually adjust it to your liking. */
    /* Fonts */
    --font-family:  !important;        /* Default is 'sans-serif' */
    --font-weight:  !important;        /* Default is 'normal' */
    --font-size:9pt !important;        /* Default is '14px' */
 
    /* Tabs */
    --tab-size-height:0px !important;  /* This will be added to a minimal size.
                                          You cannot make the current tabs any smaller. */
    --tab-size-max: 100% !important;   /* The maximum width a new tab should have.
                                          Generally leaving this at 100% is highly recommended.
                                          It will fill the remaining space this way. */
    --tab-size-min: 10px !important;   /* The minimal width a new tab should have. */
    --tab-offset: -15px !important;    /* The offset required to keep the tabs a full-width
                                          This is different for everyone, modify to liking. */
    --tab-align: center !important;    /* The alignment of the text in the tabs. */
    --tab-favicon:hidden !important;   /* Show or hide the favicons on the tabs */
    --tab-fg-normal:#D6CCDC !important;
    --tab-bg-normal:#111111 !important;
    --tab-fg-active:#AAA5AD !important;
    --tab-bg-active:#1C1C1c !important;
    --tab-fg-hover: #FFFFFF !important;
    --tab-bg-hover: #111111 !important;
    
    /* URL */
    --url-fg: #D6CCDC !important;
    --url-bg: #1C1C1C !important;
    --url-align:left !important;        /* The alignment of the text in the url. */
    --url-size-height: 36px!important;  /* Be sure to change this as this will automatically handle
                                           the height issues you might have concerning the content. */
 
    /* TODO:
       * Dropdown.
       * Statuschange. */
}

/* Hide all this bullshit */
.toolbarbutton-menubutton-dropmarker,.tabs-newtab-button,#abp-toolbarbutton,
#addonbar-closebutton,#appmenu-toolbar-button,#back-button,#bookmarks-menu-button,
#downloads-button,#forward-button,#go-button,#home-button,#identity-box,
#identity-icon-labels,#minimize-button,#notification-popup-box,#page-proxy-favicon,
#PanelUI-button,#restore-button,#searchbar,#star-button,#stylish-toolbar-button,
#tabbrowser-tabs .scrollbutton-down,#tabbrowser-tabs .scrollbutton-up,
#urlbar-container dropmarker,#urlbar-go-button,#urlbar-reload-button,
#urlbar-stop-button,statusbarpanel
{ display: none !important; }

/* Active pointers on the side of an active tab. */
.tab-background-start,
.tab-background-end
{ visibility: hidden !important; }

/* Some ugly gradiets we don't want to see. */
.tabbrowser-tab:before,.tabbrowser-tab:after, .tab-background-middle,.tab-background
{ box-shadow: none !important; background: none !important; }

/* Remove the scrollbar vertical scrollbar on websites. */
#content browser
{ margin-right: var(--scrollbar)!important; overflow-y:scroll; overflow-x:hidden; }

/* The height of tabs */
#TabsToolbar .tabbrowser-tabs {
    min-height: calc(0px + var(--tab-height)) !important;
    text-align: center !important;
    margin: 0px -15px !important; }

/* The min-max width of tabs. */
#main-window #tabbrowser-tabs tab[fadein]:not([pinned])
{ min-width: var(--tab-size-min);
  max-width: var(--tab-size-max); }

/* Specify the font and the alignment. */
tab
{ font-family: var(--font-family);
  font-size:   var(--font-size);
  text-align:  center !important; }

/* Hide or show the favicon on the tab. */
.tabbrowser-tab:not([pinned]) .tab-throbber,
.tabbrowser-tab .tab-close-button,
.tabbrowser-tab:not([pinned]) .tab-icon-image
{ visibility: var(--tab-favicon); }

/* Tab:Standard */
#main-window .tabbrowser-tab:not(:-moz-lwtheme)  
{ background-color: var(--tab-bg-normal); color: var(--tab-fg-normal); }

/* Tab:Hover */
#main-window .tabbrowser-tab:hover
{ background-color: var(--tab-bg-hover);  color: var(--tab-fg-hover);  }

/* Tab:Active */
#main-window .tabbrowser-tab[selected]
{ background-color: var(--tab-bg-active); color: var(--tab-fg-active); }

/* The actual bar, this doesn't talk to the text within. */
#nav-bar
{ background: var(--url-bg) !important; height: var(--url-size-height) !important;
  box-shadow: none !important; position: fixed !important; width: 100% !important; }

/* The text within the url bar. */
#urlbar
{ height: calc(var(--url-size-height) * 2px) !important;
  font-family: var(--font-family) !important;
  font-size: var(--font-size) !important;
  text-align: var(--url-align);
  color: var(--url-fg);
  margin: 8px 0px 0px 13px !important; width: 100vw !important;
  background: none !important;border: none !important; }

/* Ensure you the fixed positioning of the nav/urlbar doesn't
   Sizen down the actual viewable content. */
#content-deck
{ margin-top: calc(var(--url-size-height) - 3px) !important; }

#PopupAutoCompleteRichResult
{ margin-top: 11.5px !important; }
#PopupAutoCompleteRichResult richlistitem,
#PopupAutoCompleteRichResult richlistitem *
{ font-size: var(--font-size);background: var(--url-bg);color: var(--url-fg);
  border: none !important;height: 20px !important;
  margin: 0px 0px 0px 0px!important; padding:1px 0px 1px 2px!important;}

#PopupAutoCompleteRichResult richlistitem[selected="true"] *
{ color:var(--tab-fg-hover); }

#PopupAutoCompleteRichResult richlistitem .ac-site-icon
{ visibility: hidden!important; }
